/* h1,
h2 {
  text-transform: capitalize;
} */

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.error,
.success {
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
}

.success {
  color: white;
  background: green;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.navLinks {
  background: rgb(211, 211, 211);
  display: flex;
  gap: 5px;
  padding: 5px;
}

.comments {
  border-top: 10px;
}