* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  background-color: #3c3c3c;
  background-image:
    linear-gradient(#0000001a 1px, transparent 1px),
    linear-gradient(90deg, #0000001a 1px, transparent 1px);
  background-size: 50px 50px;
}

.header {
  padding: 20px 10px;
  background-color: #789f90;
  border-radius: 5px;
  text-transform: capitalize;
  font-style: oblique;
  font-family: monospace;
  font-size: xxx-large;
  color: #2e3536;
}

.button {
  background-color: darkgoldenrod;
  padding: 2px 0px;
  width: 80px;
  border-radius: 5px;
  text-transform: capitalize;
}

.notes {
  color: #e1e1e1;
  font-size: 24px;
}